<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Workouts</title>
</head>
<body>
<p>Workouts list</p>
<div>
    <div th:if="${message}">
        [[${message}]]
    </div>

    <a th:href="@{workouts/new}">Add new Workout</a>

    <table>
        <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Trainer</th>
        <th>Action</th>
        </thead>
        <tbody>
        <th:block th:each="workout : ${listWorkout}">
            <tr>
                <td>[[${workout.id}]]</td>
                <td>[[${workout.name}]]</td>
                <td>[[${workout.trainer.username}]]</td>
                <td>
                    <a th:href="@{'workouts/edit/' + ${workout.id}}">Edit</a>
                    <a th:href="@{'workouts/delete/' + ${workout.id}}">Delete</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>