<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>[[${title}]]</title>
</head>
    <body>
    <h1>[[${title}]]</h1>
        <form method="post" th:action="@{/workouts/save}" th:object="${workoutRequest}">
            <input type="hidden" th:field="*{id}"/>
            <div>
                <label>Name</label>
                <input th:field="*{name}" maxlength="45" minlength="2" required  type="text"/>
            </div>
            <div>
                <label>Date</label>
                <input th:field="*{date}" maxlength="45" minlength="2" required  type="text"/>
            </div>
            <div>
                <label>Trainer</label>
                <input th:field="*{trainer}" type="text"/>
            </div>
            <div>
                <button type="submit">Save</button>
                <button onclick="cancelForm()" type="submit">Cancel</button>
            </div>
            <script type="text/javascript">
                function cancelForm() {
                    window.location = "[[@{/workouts}]]";
                }
            </script>
        </form>
    </body>
</html>